
* {
    margin: 0;
    padding: 0;
}
html, body {
    font-family: sans-serif;
    line-height: 1.6;
    background-color: white;
    height: 100%;
}

a {
    text-decoration: none;
    color: var(--dark-color);
}

ul {
    list-style: none;
}

h2,h3,h4{
    text-transform: uppercase;
}

img{
    width: 100%;
}

/* logo */
#logo{
    width: 70px;
    height: 70px;
    color: white;
    text-transform: uppercase;
}

/* nav bar */
#main-nav {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

ul{
    display: flex;
}

li{
    padding: 1rem 1.5rem;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 0.5s;
    
}

a:hover {
    border-color : var(--primary-color);
}

.current {
    border-color : var(--main-color);
}

/* end of nav bar */

/* header */
#header-home{
    background: url(assets/images/showcase.jpg) no-repeat center right / cover;
    height: 100vh; 
    color: white;
    overflow: hidden;
}

#header-inner{
    background: url(assets/images/showcase.jpg) no-repeat 20% 30% / cover;
    height: 5.5rem;
    border-bottom: 3px solid var(--main-color);
}

/* Home Sections */
#home-a{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#home-a .specials{
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.specials .fas{
    color: var(--main-color);
    padding-bottom: 0.4rem;
}
.specials div{
    text-align: center;
}

/* Section -b */

#home-b .stats{
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#home-b li{
    line-height: 2;
}

#home-b .stats-title{
    font-size: .9rem;
}


.stats-number{
    font-size: 2rem;
    font-weight: bold;
}

.stats ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stats li {
    padding: 0;
}

.stats div {
    padding: 3rem 0;
    width: 25%;
}

.stats div:nth-child(odd){
    background: var(--light-color);
}
.stats div:nth-child(even){
    background: var(--medium-color);
}

/* Home section c */

.process {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1.5rem;
    text-align: center;
}

.process-step {
    position: absolute;
    top: 0;
    right: 0; 
    font-size: 28px;
    background: var(--main-color);
    border-radius: 50%;
    height: 15px;
    width: 15px;
    line-height: 15px;
    padding: 1rem;
    transition: all 1s;
}

.process-icon{
    border-radius: 50%;
    background-color: var(--dark-color);
    color: white;
    padding: 2rem;
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    position: relative;
    transition: all 1s;
}

.process-icon:hover{
    background-color: var(--main-color);
    height: 90px;
    width: 90px;
    line-height: 90px;
}

.process-icon:hover .process-step{
    background-color: var(--dark-color);
}

/* About */

.about-info{
    display: grid;
    grid-template-areas: 'bioimage bio bio' 'aw1 aw2 aw3';
    grid-gap: 1.2rem;

}

.bio-image{
    grid-area:bioimage;
}

.bio{
    grid-area: bio;
    border-left: 3px solid var(--main-color);
    padding: 0.8rem;
}


.award-1{
    grid-area: aw1;
}
.award-2{
    grid-area: aw2;
}

.award-3{
    grid-area: aw3;
}

.award-1 .fas,
.award-2 .fas,
.award-3 .fas{
    color: var(--main-color);
    margin: 1rem;
}

.progress {
    overflow: hidden;
    height: 20px;
    background: var(--medium-color);
    border-radius: 5px;
    margin-bottom: 0.6rem;
}

.progress div{
    height: 100%;
    color: white;
    text-align: center;
    background-color: var(--main-color);
}

/* contact details */
.contact-details{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.contact-details ul{
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.contact-details li {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 4px;
    font-size: small;
    text-transform: capitalize;
}

.contact-details [class^='fa-']{
    color: var(--primary-color);
}



.contact-details li h4{
    font-size: large;
    font-weight: normal;
    text-transform: capitalize;
}

/* footer */

#main-footer{
    background: var(--dark-color);
    color: white;
    height: 5rem;
  
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    
}

.social .fab{
    margin-right: 1rem;
    border: 2px white solid;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center;
    padding: 0.5rem;
    color: white;

}




.social .fab:hover{
    background: var(--main-color);
   
}

.social a:hover{
    border: none;
}








